*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Tahoma, sans-serif
}

.container{
    width: 1100px;
    margin: 0 auto;
    background-color: white;
    margin-top: 15px;
}

/* Product card structures */
.card{
    display: inline-block;
    width: calc(100% / 3 - 5px);
    padding: 5px;
}
.product-img{
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}
.product-features{
    background-color: white;
    display: inline-block;
    height: 100px;
    width: 100%;
    margin-top: 5px;
}

/* product caracteristics */
.product-name{
    font-size: 12px;
}
.brand,.price{
    font-size: 10px;
}
#product-levis{
    background-image: url(../html-css-boolando/img/preview-img/1.webp);
}

.after-discount{
    color: red;
}
.before-discount{
    text-decoration: line-through
}

.pill-discount{
    background-color: #eb0037;
}
.pill-sustainable{
    background-color: #00875a
    ;
    left: 40px;
}

.pill-discount,.pill-sustainable{
    display: inline;
    font-size: 10px;
    color: white;
    position: absolute;
    bottom: 20px;
    padding: 4px;
}
.favourite{
    background-color: white;
    position: absolute;
    right: 0px;
    top: 20px;
    font-size: 25px;
    padding: 5px 10px 5px 10px;
}

#product-esprit > .pill-sustainable{
    position: absolute;
    left: 0%;
    }

/* Hover card */
.favourite:hover{
    color: red;
}  
/* product-img */
#product-levis{
    background-image: url(../html-css-boolando/img/preview-img/1.webp);
}
#product-levis:hover{
    background-image: url(../html-css-boolando/img/hover-img/1b.webp);
}
#product-rosestee{
    background-image:url(../html-css-boolando/img/preview-img/2.webp);    
}
#product-rosestee:hover{
   background-image:url(../html-css-boolando/img/hover-img/2b.webp);    
}
#product-comezuccherofilato{
     background-image:url(../html-css-boolando/img/preview-img/3.webp);    
}
#product-comezuccherofilato:hover{
    background-image:url(../html-css-boolando/img/hover-img/3b.webp);
}
#product-levis-tshirt{
     background-image:url(../html-css-boolando/img/preview-img/4.webp);    
}
#product-levis-tshirt:hover{
     background-image:url(../html-css-boolando/img/hover-img/4b.webp);
}
#product-maya-deluxe{
    background-image:url(../html-css-boolando/img/preview-img/5.webp);    
}

#product-maya-deluxe:hover{
    background-image:url(../html-css-boolando/img/hover-img/5b.webp);
}
#product-esprit{
     background-image:url(../html-css-boolando/img/preview-img/6.webp);    
 }

 #product-esprit:hover{
    background-image:url(../html-css-boolando/img/hover-img/6b.webp);
}